@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
	--black: #000;
	--gray-500: #7d7d7d;
	--gray-200: #e5e5e5;
	--gray-150: #f3f3f3;
	--white: #fff;
}

:root,
* {
	font-family: 'Libre Baskerville', serif;
}

body {
	width: 100%;
	height: 100vh;
}


#svelte {
	height: 100%;
	width: 100%;
}